<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grid Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
        <header>
            <h1>Link</h1>
        </header>
        <!-- /*nav forse va tolto */ -->
 
            <ul class="site-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Feature</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">About</a></li>
            </ul>            

        <main class="main tile">
               <h1>Team collaboration done right</h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus augue in commodo finibus. Sed facilisis urna vel neque convallis aliquam. Nam sodales lobortis sapien, quis mattis nulla semper porttitor. Aliquam pellentesque lorem vulputate, consequat orci facilisis, scelerisque est. Quisque porta finibus efficitur. Cras enim nulla, hendrerit eget rutrum sit amet, dignissim vitae sapien. Nulla nibh magna, dictum vel aliquam tempus, egestas a elit. Integer ullamcorper, quam et posuere ultricies, metus nisl bibendum odio, at vehicula nunc nunc ut velit. Praesent consectetur ipsum sed hendrerit facilisis. Nullam at sem vitae elit tempor facilisis. Morbi imperdiet tempus sapien eget consequat. Nam vel sodales felis, ac volutpat massa. Nunc vel porta eros, sit amet rutrum elit. Proin ut interdum sapien, ac efficitur ligula. Integer finibus felis sed eleifend pharetra.</p>
        </main>
        <div class="sidebar-top tile">
            <h1>Login</h1>
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Login</button>
        </div>
        <div class="sidebar-bottom tile centered">
            <small>Starting at</small>
            <div class="cost">
                <span class="cost-currency">$</span>
                <span class="cost-dollar">20</span>
                <span class="cost-cents">20</span>
            </div>
            <a href="/pricing" class="cta-button">Sign up</a>
        </div>
</div>

</body>

</html>