<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Curriculum Vitae</title>
</head>
<body>

<div class="container">
    <header>
            <h1>Curriculum Vitae</h1>
    </header>

    <div class="sintesi">
        <h1>INFORMAZIONI PERSONALI</h1>
        <div class="immagine">
            <img src="img/AdobeStock_476477617_Preview.jpeg" alt="La mia foto">
        </div>
    </div>
    <div class="dettaglio">
        <h1>Amadori Katia</h1>
        <div class="dettaglio">
                <div class="indirizzo">Via Sandro Pertini 105, 50041 Calenzano (FI)</div>
                <div class="recpito">(+39) 338 5400532</div>
                <div class="email">katiamadori1975@gmail.com</div>
                    <div class="anag">
                        <span class="color-blu">Sesso</span>
                        <span>Femmina</span>
                       <span class="color-blu">Data di Nascita</span>
                       <span>27.10.1975</span>
                       <span class="color-blu">Nazionalità</span>
                       <span>Italiana</span>
                    </div>
        </div>
    </div>
    <div class="esperienza">
        <h1>esperienza professionale</h1>
    </div>

    <div class="esper">
        <h1>Da Gennaio 2016 ad oggi</h1>
        <h1>Specialista Analista e Programmazione</h1>
        <h2>Obi Italia srl</h2>
    </div>

</div>    
    
</body>
</html>