<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Query</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Media Query</h1>
        <p>Lorem ipsum .....</p>
        <section class="kittens">
            <figure>
                <img src="https://placekitten.com/452/450?image=12" alt="The Kitten">
                <figcaption>Kittens are cute!</figcaption>
            </figure>
            <figure>
                <img src="https://placekitten.com/452/450?image=1" alt="The Kitten">
                <figcaption>Kittens are cute!</figcaption>
            </figure>
            <figure>
                <img src="https://placekitten.com/452/450?image=5" alt="The Kitten">
                <figcaption>Kittens are cute!</figcaption>
            </figure>
            <figure>
                <img src="https://placekitten.com/452/450?image=10" alt="The Kitten">
                <figcaption>Kittens are cute!</figcaption>
            </figure>
            <figure>
                <img src="https://placekitten.com/452/450?image=9" alt="The Kitten">
                <figcaption>Kittens are cute!</figcaption>
            </figure>
        </section>
    </div>
</body>
</html>